# dependencies
node_modules/
.pnp/
.pnp.js

# next.js
.next/
.next-dev/
out/

# production
build/
dist/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
