expression GoldDataPath = "{{ gold_data_path }}" meta [IsParameterQuery=true, Type="Text", IsParameterQueryRequired=true]
	lineageTag: {{ gold_data_path_tag }}
	annotation PBI_NavigationStepName = GoldDataPath
	annotation PBI_ResultType = Text
